<div class="header">
  <div class="shell">
    <div class="block block--3">

    </div>
    <div class="block block--4">
      <h1 class="header__heading" (click)="goBack()">Yigis</h1>
    </div>
    <div class="block block--3">
      <nav class="header__navigation">
        <a class="header__element hide--840" href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="header__element hide--840" href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </nav>
    </div>
  </div>
</div>
