.header
  box-shadow: 0 0 10px 0 #212121
  width: 100%
  background-color: #ffffff
  user-select: none
  &__heading
    font-family: 'Nero'
    font-size: 24px
    cursor: pointer
    text-align: center
  &__navigation
    text-align: center
  &__element
    display: inline-block
    color: #212121
    padding: 5px 10px 0 10px
