.dashboard
  &__stand-repos
    width: 270px
  &__popup-control
    a
      color: #212121
      margin-top: 20px
  &__results
    padding-top: 20px
    a
      color: #212121
  button
    margin-right: 5px
  &__create-stand-form
    width: 300px
    display: none
    max-width: 100%
  &__create-heading
    margin-bottom: 5px
    margin-top: 50px
  &__title
    font-size: 18px
    font-weight: 700
  &__changelog
    padding-top: 10px
  &__stand
    width: 100px
    font-size: 16px
    line-height: 16px
    padding: 40px 0 35px 0
    text-align: center
    background-color: #cccccc
    float: left
    margin-right: 10px
    margin-top: 10px
    cursor: pointer
    box-sizing: border-box
    position: relative
    border: 1px solid #cccccc
    &--active
      border: 1px solid #212121
  &__commands button
    margin-right: 10px
    margin-bottom: 10px
.preloader
  background-image: url('../gears.svg')
  width: 25px
  height: 25px
  position: absolute;
  bottom: 5px
  right: 5px
  z-index: 1000
  background-position: center
  background-repeat: no-repeat
  background-size: contain
@media screen and (max-width: 560px)
  & .dashboard

    &__stand
      width: calc(33% - 10px)
@media screen and (max-width: 380px)
  & .dashboard
    &__stand
      width: calc(50% - 10px)
    &__buttons
      button
        width: calc(50% - 10px)
        padding-left: 2px
        padding-right: 2px
